<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Invoice</title>
  <% var dir=process.cwd() %>
    <style>
      <%- include(dir + '/public/css/tailwind.min.css') %>
    </style>    
    <style>
      html {
          font-size: 15px !important;
        }
      </style>
</head>

<body>
  <div class="p-5 pt-0 mr-5 box-border">
    <!-- Logo -->
    <div class="mb-1">
      <div class="flex justify-center items-center">
        <img src="data:image/png;base64,<%= logoString %>" alt="" class="w-52">
      </div>
      <p class="text-sm text-center">
        <%= branchAddress %>
      </p>
      <div class="flex justify-center items-center">
        <img src="<%= qrcode %>" alt="qrcode" class="block pt-0 mt-0 w-24" />
      </div>
      <p class="text-xs text-center">
        <span class="">
          Mã đơn:
        </span>
        <span class="">
          <%= referenceNumber %>
        </span>
      </p>
    </div>

    <!-- Invoive info -->
    <div class="flex flex-col gap-2">
      <p class="text-xs"><span class="font-bold">Thời gian:</span>
        <%= formatDate(createdAt, 'HH:mm:ss DD/MM/YYYY' ) %>
      </p>
      <p class="text-xs">
        <span class="font-bold">
          Bàn:
        </span>
        <span class="capitalize">
          <%= tableName %>
        </span>
      </p>
      <p class="text-xs"><span class="font-bold">
          Khách hàng:
        </span>
        <%= customer %>
      </p>
      <p class="text-xs">
        <span class="font-bold">
          Thu ngân:
        </span>
        <%= cashier %>
      </p>
    </div>

    <!-- Invoice items -->

    <table class="mt-4 min-w-full text-sm border-collapse table-auto">
      <thead>
        <tr class="border-b border-black bg-white-100">
          <th class="py-2 w-2/3 text-left font-bold">Món</th>
          <th class="px-1 py-2 text-right font-bold">SL</th>
          <th class="px-2 py-2 text-right font-bold">
            <span>Đ.Giá</span>
            <br>
            <span>(đ)</span>
          </th>
          <th class="px-2 py-2 text-right font-bold">
            <span>K.Mãi</span>
            <br>
            <span>(%)</span>
          </th>
          <th class="px-2 py-2 text-right font-bold">
            <span>T.Tiền</span>
            <br>
            <span>(đ)</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <% invoiceItems.forEach(function(item) { %>
          <tr class="border-b border-black hover:bg-gray-50">
            <td class="py-2 w-2/3 text-xs text-left">
              <%= item.productName %> <span class="uppercase">
                  (<%= item.size %>)
                </span>
            </td>
            <td class="px-1 py-2 text-xs text-right">
              <%= item.quantity %>
            </td>
            <td class="px-2 py-2 text-xs text-right">
              <% if (
                voucherType === 'same_price_product'
                && item.discountType === 'voucher' 
                && item.price > valueEachVoucher
              ) { %>
                <span class="line-through text-red-500">
                  <%= formatCurrency(item.price) %>
                </span><br />
                <span>
                  <%= formatCurrency(valueEachVoucher) %>
                </span>
              <% } else if (
                voucherType === 'same_price_product'
                && item.discountType === 'voucher'
                && item.price <= valueEachVoucher
              ) { %>
                <span>
                  <%= formatCurrency(item.price) %>
                </span>
              <% } else if (
                voucherRule === 'at_least_one_required'
                && voucherType === 'percent_order'
                && item.discountType === 'voucher'
              ) { %>
                <span class="line-through text-red-500">
                  <%= formatCurrency(item.price) %>
                </span><br />
                <span>
                  <%= formatCurrency(item.price - (item.voucherValue / item.quantity)) %>
                </span>
              <% } else if (
                voucherRule === 'at_least_one_required'
                && voucherType === 'fixed_value'
                && item.discountType === 'voucher'
              ) { %>
                <span class="line-through text-red-500">
                  <%= formatCurrency(item.price) %>
                </span><br />
                <span>
                  <%= formatCurrency(item.price - (item.voucherValue / item.quantity)) %>
                </span>
              <% } else { %>
                <span>
                  <%= formatCurrency(item.price) %>
                </span>
              <% } %>
            </td>
            <td class="px-2 py-2 text-xs text-right">
              <% if (item.discountType==='voucher' ) { %>
                0
              <% } else { %>
                <%= item.promotionValue %>
              <% } %>
            </td>
            <td class="px-2 py-2 text-xs text-right break-all">
              <%= formatCurrency(item.total) %>
                <% if (item.discountType==='promotion' ) { %>
                  (*)
                <% } else if (item.discountType==='voucher' ) { %>
                  (**)
                <% } %>
            </td>
          </tr>
          <% }); %>
            <tr class="border-t border-black">
              <td class="py-2 text-left">PTTT</td>
              <td class="py-2 text-xs font-bold text-right" colspan="4">
                <%= formatPaymentMethod(paymentMethod) %>
              </td>
            </tr>
            <tr class="border-t border-black">
              <td class="py-2 text-left" colspan="4">Tổng cộng (đ)</td>
              <td class="py-2 text-right break-all">
                <%= formatCurrency(originalSubtotalOrder) %>
              </td>
            </tr>
            <tr class="border-t border-black">
              <td class="py-2 text-left" colspan="4">Tổng khuyến mãi (đ)</td>
              <td class="py-2 text-right">
                <%= formatCurrency(orderItemPromotionValue) %>
              </td>
            </tr>

            <tr class="border-t border-black">
              <% if (voucherCode !=='N/A' ) { %>
                <td class="py-2 text-left" colspan="2">
                  Tổng giảm giá (đ)
                </td>
                <td class="py-2 text-left" colspan="2">
                  <span class="text-xs italic break-all">(Mã: <%= voucherCode %>)</span>
                </td>
                <% } %>
                  <% if (voucherCode==='N/A' ) { %>
                    <td class="py-2 text-left" colspan="4">
                      Tổng giảm giá (đ)
                    </td>
                    <% } %>
                      <td class="py-2 text-right">
                        <%= formatCurrency(voucherValue) %>
                      </td>
            </tr>

            <% if ((paymentMethod==='point' )) { %>
              <tr class="border-t border-black">
                <td class="py-2 text-left" colspan="4">
                  Số xu đã trừ (xu)
                </td>
                <td class="py-2 text-right">
                  <%= formatCurrency(usedPoints) %>
                </td>
              </tr>
              <% } %>
                <tr class="border-t border-black">
                  <td class="py-2 text-left" colspan="4">Thành tiền (đ)</td>
                  <td class="py-2 font-bold text-right break-all">
                    <% if ((paymentMethod==='point' )) { %>
                      <%= formatCurrency(0) %>
                        <% } else { %>
                          <%= formatCurrency(amount) %>
                            <% } %>
                  </td>
                </tr>
      </tbody>
    </table>
    <p class="text-xs mt-2">
      (*) Sản phẩm được ưu đãi theo chương trình khuyến mãi
    </p>
    <p class="text-xs">
      (**) Sản phẩm được ưu đãi theo mã giảm giá
    </p>
  </div>
</body>

</html>